.s0 {
    animation: aparecer 0.5s ease-in-out 1s backwards;
}

.s1 {
    animation: aparecer 0.5s ease-in-out 1.5s backwards;
}

.s2 {
    animation: aparecer 0.5s ease-in-out 2s backwards;
}

.s3 {
    animation: aparecer 0.5s ease-in-out 2.5s backwards;
}

.s4 {
    animation: aparecer 0.5s ease-in-out 3s backwards;
}

.s5 {
    animation: aparecer 0.5s ease-in-out 3.5s backwards;
}

.s6 {
    animation: aparecer 0.5s ease-in-out 4s backwards;
}

.s7 {
    animation: aparecer 0.5s ease-in-out 4.5s backwards;
}

.s8 {
    animation: aparecer 0.5s ease-in-out 5s backwards;
}

.stage {
    animation: finalizacao 0.5s ease-out 6s;
}

@keyframes aparecer {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes finalizacao {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.06);
        border-radius: 0;
    }
    100% {
        transform: scale(1);
    }
}